$background-color: #01080e;  //070707 
$primary-color:    #212121;  //212121
$secondary-color:  #2F2F2F;  //2F2F2F
$third-color:      #2bdefd;  //02fc71
$fourth-color:     #fff;     //fff
$shadow-grey:      #B6B6B6;  //B6B6B6
$shadow-blue:     #2497AE;  //009E4A

