@import url("https://fonts.googleapis.com/css?family=Poppins:900i"); /*Poppins*/

@font-face {
  font-family: 'Retro';
  src: url(../../assets/font/upheavtt.ttf);
}

@font-face {
  font-family: 'Teste';
  src: url(../../assets/font/Retro\ Gaming.ttf);
}
