

/*------ ASIDE FOR DESKTOP ------*/

@media (min-width: 913px){
    .aside__div{
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
}

/*------ ASIDE FOR MOBILE ------*/

@media (max-width: 912px){
    .aside__div{
        border-radius: 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .aside__span{
        display:none;
    }
}

/*------ GENERAL ------*/

.aside{
    padding: 2px;
    overflow:hidden;
}

.aside > .aside__div{
    background-color:#2F2F2F;
    width: 100%;
    height: 100%;
    padding:;
}

.aside__item{
    /*border: 2px solid red; */
    border-radius: 10px;
    width: max-content;
    height: max-content;
}

.aside__item > .aside__a{
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    width: auto;
    height: auto;
    transition-property:;
    transition-duration: 0.5s;
    box-shadow: #B6B6B6 0px 10px;
}

.aside__item:hover .aside__a{
    transform: perspective(900px) translateY(-5%) rotateX(40deg) translateZ(0);
    box-shadow: #B6B6B6 0px 25px;
}


.aside__a > img{
    width: max(35px, 4vw);
    height: max(25px, 3vw);
}

.aside__span--github{
    margin-left:;
}

.aside__span--whatsapp{
    margin-left: -12%;
}

.aside__span--linkedin{
    margin-left: -3%;
}

.aside__span--email{
    margin-left: -30%;
}

.aside__item > .aside__span{
    color: #02fc71;
    opacity: 0;
    font-size: max(12px, 1.2vw);
    letter-spacing: 2px;
    position: absolute;
    margin-top: max(-65px, -5vw);
    text-shadow: #2F2F2F 2px 2px;
    transition: all 0.5s;
}

.aside__item:hover .aside__span{
    opacity: 1;
    transform: translate3d(0%, -30%, 100px);
}

