

/*------ ASIDE FOR DESKTOP ------*/
@media (min-width: 913px){
    .aside > .div_aside{
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
}

/*------ ASIDE FOR MOBILE ------*/
@media (max-width: 912px){
    .aside > .div_aside{
        border-radius: 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    span{
        display:none;
    }
}


.aside{
    padding: 2px;
    overflow: hidden;
}

.aside > .div_aside{
    background-color:#2F2F2F;
    width: 100%;
    height: 100%;
    padding:;
}

.aside_item{
  /*  border: 2px solid red; */
    border-radius: 10px;
    width: max-content;
    height: max-content;
}

.aside_item > a{
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    width: auto;
    height: auto;
    transition-property:;
    transition-duration: 0.5s;
    box-shadow: #B6B6B6 0px 10px;
}

.aside_item:hover a{
    transform: perspective(900px) translateY(-5%) rotateX(40deg) translateZ(0);
    box-shadow: #B6B6B6 0px 25px;
}


a > img{
    width: max(35px, 4vw);
    height: max(25px, 3vw);
}

.aside_item > .github_text{
    margin-left:;
}

.aside_item > .whatsapp_text{
    margin-left: -12%;
}

.aside_item > .linkedin_text{
    margin-left: -3%;
}

.aside_item > .email_text{
    margin-left: -30%;
}

.aside_item > span{
    color: #02fc71;
    opacity: 0;
    font-size: max(12px, 1.2vw);
    letter-spacing: 2px;
    position: absolute;
    margin-top: max(-65px, -5vw);
    text-shadow: #2F2F2F 2px 2px;
    transition: all 0.5s;
}

.aside_item:hover span{
    opacity: 1;
    transform: translate3d(0%, -30%, 100px);
}

