

/*--------- DESKTOP LAYOUT--------- */

@media screen and (min-width: 913px){ /* Quando a página tiver no mínimo 913px de largura, executa regras css abaixo */

    body{
        margin: 10px;
    }

    .main_container{
        height: 100%; /* Altura 100% do elemento pai (body) */
        width: 100%; /* Largura 100% da viewwidth */
        display:grid; /* Inicia o Grid */
        grid-template-columns: 1fr 3fr 1fr; /* Divide a tela em 3 colunas de largura: 1fr+3fr+1fr = 5 / 100% = 20% (ou seja, 1fr = 20%, 3fr = 20% + 20%+ 20% = 60%, 1fr = 20%) 20% + 60% + 20% = 100% */

        grid-template-rows: 150px calc(97vh - 150px - 10px); /* Cria 2 linhas: 150px a primeira e a segunda é 97% da viewheight - 150px da primeira linha - 10px do gap */

        grid-template-areas:
            "nav main header"
            "nav    main aside"; /* Cria a grid area */

        gap: 10px; /* Cria um gap de 10px */
    }


    .main_container > header, .div_main > main, nav, aside{
        border-radius: 10px;
        background-color: #212121;
    }

    .header{
        grid-area: header;
    }

    .div_main{
        grid-area: main;
        color: white;
    }

    .div_main > main{
        height: 500vh; /* Colocar max-content quando tiver conteúdo */
    }

    .navigation{
        grid-area: nav;
        position: sticky;
        top: 10px;

    }

    .aside{
        grid-area: aside;
        position: sticky;
        top: 10px;
        color: white;
    }


}

