

/*--------- MOBILE / TABLET LAYOUT ---------*/


@media screen and (max-width: 912px){ /* Enquanto a página estiver com no máximo 912px de largura, executa regras css abaixo */

    body{
        margin: 0;
    }

    .main_container{
        height: 100%;
        width: 100%;
        display: flex; /* Inicia o Flexbox */
        flex-direction: column; /* Troca a direção do main axis para a vertical (coluna) */
        gap: 10px;


    }

    .header, .main, .navigation, .aside{
        background-color: #212121;
    }

    .header{
        display: none;
        width: 100%;
        top: 0;
        height: max-content;
    }

    .main{
        color: white;
        order: 3; /* Muda a ordem do Flex Item sem interferir na ordem da marcação HTML. Quem tiver o maior order fica na frente (o padrão é order: 0;) */
        height: 100%;
    }

    .main > .main__div{
        height: 100%; /* Colocar max-content quando tiver conteúdo */

    }

    .navigation{
        position: sticky;
        top: 0;
        height: max-content;
        order: 2;
    }

    .aside{
        width: 100%;
        position: fixed;  /* A propriedade position: fixed + a propriedade bottom: 0 fixa o elemento no fundo da página */
        bottom: 0;
        order: 4;
        color: white;
        height: 80px;
    }

}

