

/*------ MODAL ------*/

.modal__content{
    width: 100%;
    height: 98vh;
   /*background-color: #212121; */
    background: rgba(255,255,255, .1);
    backdrop-filter: blur(10px);
}



@media (min-width: 768px){

    .modal__content{
       /* border: 2px solid white; */
        width: 97vw;
        margin-left: -25%;
        height: 98vh;
        /*background-color: #212121; */
        background: rgba(255,255,255, .1);
        backdrop-filter: blur(10px);
    }

}

@media (min-width: 820px){

    .modal__content{
       /* border: 2px solid white; */
        width: 97vw;
        margin-left: -30%;
        height: 98vh;
        /*background-color: #212121; */
        background: rgba(255,255,255, .1);
        backdrop-filter: blur(10px);
    }

}

@media (min-width: 912px){

    .modal__content{
       /* border: 2px solid white; */
        width: 97vw;
        margin-left: -39%;
        height: 98vh;
        /*background-color: #212121; */
        background: rgba(255,255,255, .1);
        backdrop-filter: blur(10px);
    }

}


.modal__body{
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.modal__header{
   /*border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: left;
}

.btn-close{
    background-color: white;
    opacity: 1;
}


.modal__ul{
   /*border: 2px solid red;*/
    direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
}

.modal__ul > .modal__li{
    margin-left: -30px;
    /*border: 2px solid white;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


@media (min-width: 300px){

    .modal__li > a{
        font-size: 7vh;
        color: white;
        text-decoration: none;
        text-shadow: black 5px 5px;
        transition: 0.2s;
    }

    .modal__li > a:hover{
        color: #02fc71;
        font-size:8vh;
    }

    .modal__li > div{
        font-size: 4vh;
        color: #02fc71;
    }
}

@media (max-width: 299px){

    .modal__li > a{
        font-size: 14vw;
        color: white;
        text-decoration: none;
        text-shadow: black 5px 5px;
        transition: 0.2s;
    }

    .modal__li > a:hover{
        color: #02fc71;
        font-size:15vw;
    }

    .modal__li > div{
        font-size: 8vw;
        color: #02fc71;
    }

}
.modal__body > .modal__footer{
    /*border: 2px solid red;*/
    padding: 5px 0 5px 0;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.modal__footer > h5{
    color: white;
    text-shadow: black 1px 1px;
    letter-spacing: 2px;
    font-size: 3vh;
}

.modal__footer > img{
    width: 18.5vh;
    height: 6.5vh;
}

