
/*------ NAV FOR DESKTOP ------*/

@media (min-width: 913px){
    .navigation{
        padding: 2px;
        background-color: #212121;
        position: sticky;
        top: 10px;
        color:white;

    }

    .navigation > ul{
        margin: 0;
        padding: 0 ;
        border-radius: 10px;
        list-style: none;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

   .ul-desktop > .modal-button{
        display: none;
    }

    ul > .nav-title{
        display: none;
    }


}

/*------ NAV FOR MOBILE ------*/

@media (max-width: 912px){
    .navigation{
        padding: 2px 0 2px 0;''
    }

    .navigation > ul{
        padding:  5px 20px 15px;
        margin: 0;
        list-style: none;
        height: 100%;
        display: flex;
        gap:;
        justify-content: right;
        flex-wrap: wrap;
    }

   .ul-desktop > .li-desktop{
        display: none;
    }
}

/* ------ GENERAL ------*/

.navigation{
    overflow: hidden;
}

.navigation > ul{
    background-color: #2F2F2F;
}

ul > .li-desktop{
    /*height: calc((97vh - 150px - 10px) / 4);*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.li-desktop > a{
    width: max-content;
    font-size: max(30px, 2.8vw);
    color: white;
    text-decoration: none;
    text-shadow: black 5px 5px;
    transition: 0.2s;
}

.li-desktop > a:hover{
    color: #02fc71;
    font-size: max(35px, 3.0vw);
}

.li-desktop > div{
    font-size: max(22px, 2.0vw);
    color: #02fc71;
}

