@font-face{
    font-family:'Retro';
    src: url('font/upheavtt.ttf');
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Retro';

}

body{
    height: 500vh;
    background-color: black;

}


