
/**
 * TABLE CONTENTS
 *
 * SETTINGS
 * NAV-FOR-DESKTOP.................Media Query com configurações do Nav para desktop.
 * NAV-FOR-MOBILE..................Media Query com configurações do Nav para dispositivos mobile.
 * GENERAL-NAV.....................Configurações genéricas do Nav.
 * @include flex..................Mixin localizado em /base/_general.scss. 
 * $variavelCor......................As variáveis para determinar cor estão em _colors.scss.
 * */





.navigation { 
  overflow: hidden;
  z-index: 2;
  
  &__ul { 
    padding:  5px 20px 15px;
    margin: 0;  
    @include flex('', right,''); 
    background-color: $background-color; 
  }

  &__ul .logo {
    position: absolute;
    margin-right: 65vw;
    height: 20vw ;
    width:  26vw;
    margin-top: -3vw;
    //border: 2px solid red;
  }

  &__ul &__li { display: none; }

}


