
/**
 * TABLE CONTENTS
 *
 * SETTINGS
 * DESKTOP-ANIMATION................Animação para Desktop.
 * MOBILE-ANIMATION.................Animação para Mobile.
 * NAV-ANIMATION....................Animação aplicada no Nav.
 * ASIDE-ANIMATION..................Animação aplicada no Aside.
 * HEADER-ANIMATION.................Animação aplicada no Header.
 * KEYFRAMES-ANIMATION..............Animação.
 * $variavelCor......................As variáveis para determinar cor estão em _colors.scss.
 * */





/*---------------------------*\
 #DESKTOP-ANIMATION
\*---------------------------*/

@mixin animationDesktop() {
  content:'';
  border-radius: 10px;
  top:   -50%;
  right: -50%;
  position: absolute;
  width:  calc(20vw - 10px);
  height: calc(97vh - 10px);
  z-index:-1;
  background: linear-gradient(0deg, transparent, transparent, $third-color, $third-color, $third-color, $third-color, $third-color);
  transform-origin: bottom left;
  animation: animate 6s linear infinite;
}

@media (min-width: 913px) {

  /*---------------------------*\
   #NAV-ANIMATION
  \*---------------------------*/

  .navigation::before { @include animationDesktop(); }

  .navigation::after {
    @include animationDesktop();
    animation: animate 6s linear -3s infinite;
  }





  /*---------------------------*\
   #HEADER-ANIMATION
  \*---------------------------*/

  .header::before {
    @include animationDesktop();
    height: calc(97vh - 150px - 10px);
    animation: animate 6s linear infinite reverse;
  }

  .header::after {
    @include animationDesktop();
    height: calc(97vh - 150px - 10px);
    animation: animate 6s linear -3s infinite reverse;
  }





  /*---------------------------*\
   #ASIDE-ANIMATION
  \*---------------------------*/

  .aside::before {
    @include animationDesktop();
    height: calc(97vh - 150px - 10px);
    animation: animate 6s linear infinite reverse;
  }

  .aside::after {
    @include animationDesktop();
    height: calc(97vh - 150px - 10px);
    animation: animate 6s linear -3s infinite reverse;
  }





  /*---------------------------*\
   #KEYFRAMES-ANIMATION
  \*---------------------------*/

  @keyframes animate {

    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }

  }

}





/*---------------------------*\
 #MOBILE-ANIMATION
\*---------------------------*/

@mixin animationMobile() {
  @include animationDesktop();
  width:  50%;
  height: 100%;
  background: linear-gradient(-90deg, transparent, transparent, $third-color, $third-color, $third-color);  
  animation: animate 4s linear infinite;
}

@media (max-width: 912px){
  /*---------------------------*\
   #NAV-ANIMATION
  \*---------------------------*/

  .navigation::before { @include animationMobile(); }

  .navigation::after {
    @include animationMobile();
    top: 50%;
    background: linear-gradient(90deg, transparent, transparent, $third-color, $third-color, $third-color);
    animation: animate 4s linear  infinite reverse;
  }





  /*---------------------------*\
   #HEADER-ANIMATION
  \*---------------------------*/

  .header::before {
    @include animationMobile();
    height: 50px;
  }





  /*---------------------------*\
   #ASIDE-ANIMATION
  \*---------------------------*/

  .aside::before {
    @include animationMobile();
    background: linear-gradient(-90deg, transparent, transparent, $third-color, $third-color, $third-color, $third-color, $third-color);
    animation:  animate 6s linear infinite;
  }

  .aside::after {
    @include animationMobile();
    top: 50%;
    background: linear-gradient(90deg, transparent, transparent, $third-color, $third-color, $third-color, $third-color, $third-color);
    animation:  animate 6s linear -3s infinite reverse;
  }

  /*---------------------------*\
   #KEYFRAMES-ANIMATION
  \*---------------------------*/

  @keyframes animate{

    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-150vw);
    }

  }
}

