.main__component--img .main__img--setas img {
   animation: bouncing 2s linear infinite both;
}

@keyframes bouncing {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(2vw);
  }

  100% {
    transform: translateY(0);
  }
}

.main__component--img .main__img--card div{
    
   & .main__img--before {
     transition-duration: 0.8s;
   }

   &:hover .main__img--before {
     transform: perspective(900px) translateY(-5%) rotateX(40deg) translateZ(0);
     box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
   }

   & .main__img--after {
     transition-duration: 0.8s;
   }

   &:hover .main__img--after {
     opacity: 1;
     z-index: 1;
     transform: translate3d(0%, -30%, 100px);
   }
   
   & .blureffect {
     transition-duration: 0.8s;
   }
   
   &:hover .blureffect {
     transform: perspective(900px) translateY(-5%) rotateX(40deg) translateZ(0);
     backdrop-filter: blur(5px);
     background-image:"";

   }

   & p {
     transition-duration: 0.8s;
   }

   &:hover p {
     transform: perspective(900px) translateY(-5%) rotateX(40deg) translateZ(0);
     opacity: 0;
   }


}







